.fourOFour{
    padding: 4rem 0 4rem 0;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #B0B0B0;
}

.fourOFour h1{
    font-size: 8rem;
    font-family: 'Rubik', sans-serif;
}

.fourOFour h2{
    font-size: 2rem;
    margin-bottom:2rem;
}

